version: '3.6'

services:

  datastore:
    image: mongo
    ports:
      - 27017:27017
  
  database:
    image: postgres
    ports:
      - 5432:5432
  
  consignment-service:
    build: ./consignment-service    
    ports:
      - 50051:50051
    environment:
      MICRO_ADDRESS: ":50051"
      MICRO_REGISTRY: "mdns"
      DB_HOST: "datastore:27017"

  vessel-service:
    build: ./vessel-service    
    ports:
      - 50052:50051
    environment:
      MICRO_ADDRESS: ":50051"
      MICRO_REGISTRY: "mdns"
      DB_HOST: "datastore:27017"

  user-service:
    build: ./user-service
    ports:
      - 50053:50051
    environment:
      MICRO_ADDRESS: ":50051"
      MICRO_REGISTRY: "mdns"

  consignment-cli:
    build: ./consignment-cli    
    environment:
      MICRO_REGISTRY: "mdns"
  
  user-cli:
    build: ./user-cli
    environment:
      MICRO_REGISTRY: "mdns"